@media screen and (max-width: 600px) {
main {
        overflow-x: hidden;
    }

    .hero {
        background-color: orange;
       background-image: none;
        background-size: cover;
        padding-left: 60px;
        padding: 40px;
    }

    .article-text {
        width:24em;
    }
    

    h1 {
        font-size: 50px;
        color: white;
        line-height: 43px;
        margin-top: 200px;
        color: aqua;
        margin-bottom: 20px;
    }

    .hero-section-two {
        padding: 40px;
    }

    h2 {
        font-size: 50px;
        color: white;
        margin-top: 4.5em;
        margin-top: 6em;
    }

    h2 + p, p {
        font-size: 17px;
        color: white;
        margin-bottom: 15px;
    }

    .hero-section-three {
        padding: 40px;
    }

    .hero-section-four {
        padding: 40px;
    }

    .hero-section-five {
        padding: 40px;
    }

    .footer {
        height: 20vh;
        padding: 40px;
        padding-top: 40px;
    }
    
  
}
