@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');

* {
    text-decoration: none;
    margin: 0%;
 }
 
 a {
    color: white;
 }

 a:hover {
    color: aqua;
}

.hero-section-one {
    /* background: url(/images/Capture5.JPG);
    background-size: cover; */
    background-color: black;
    height: 100vh;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 1em;
}

nav {
    display: flex;
    gap: 20px;
    font-size: 17px;
}

.nav-link {
    color: white;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 60px;
    color: white;
    margin-bottom: 0%;
    line-height: 60px;
    margin-top: 4.5em;
    color: aqua;
    margin-top: 6em;
    margin-bottom: 20px;
}

h2 + p, p {
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    width: 30em;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: none;
    color: white;
    border: 1px solid white;
    margin-bottom: 0%;
}

button:hover {
    border: 1px solid aqua;
    margin-left: 20px;
    }

.hero-section-two {
    /* background: url(/images/Capture5.JPG);
    background-size: cover; */
    background-color: rgb(135, 20, 20);
    height: 100vh;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 1em;
}

.hero-section-three {
    /* background: url(/images/Capture5.JPG);
    background-size: cover; */
    background-color: rgb(205, 165, 22);
    height: 100vh;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 1em;
}

.hero-section-four {
    /* background: url(/images/Capture5.JPG);
    background-size: cover; */
    background-color: rgb(20, 135, 89);
    height: 100vh;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 1em;
}

.hero-section-five {
    /* background: url(/images/Capture5.JPG);
    background-size: cover; */
    background-color: rgb(89, 20, 135);
    height: 100vh;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 1em;
}

.footer {
    /* background: url(/images/Capture.JPG);
    background-size: cover; */
    background-color: rgb(0, 0, 0);
    height: 20vh;
    padding-left: 60px;
    padding-top: 40px;
    text-align: center;
    color: white;
    padding-top: 70px;
}

.footer-text {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
